VITE_STREAM_MODE=overlay
VITE_HLS_BASE_URL=http://localhost:8888
VITE_OVERLAY_BASE_URL=http://localhost:8010
VITE_BACKEND_BASE_URL=http://localhost:18080
VITE_S3_BUCKET_URL=http://safety-web-dashboard-bucket.s3-website.ap-northeast-2.amazonaws.com
